<mat-form-field class="example-full-width">
    <input matInput placeholder="Project title" [(ngModel)]="data.title">
</mat-form-field>
<mat-form-field class="example-full-width">
    <textarea matInput placeholder="Project description" [(ngModel)]="data.description"></textarea>
</mat-form-field>
<div style="width: 100%">
    <button mat-button style="float: left;" (click)="cancel()">Cancel</button>
    <button mat-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
