<form [formGroup]="form" (ngSubmit)="submit()">
    <label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{orders[i].name}}<br/>
    </label>
    <button>Submit</button>
</form>

<div class="example-container">
    <app-split-form [labels]="['Date', 'Balance', 'Type']"></app-split-form>
</div>

<div>
    <mat-form-field>
        <mat-select placeholder="Favorite food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
