<div class="container">
  <div class="column" id="project-list">
    <app-project-card *ngFor="let project of projects" [project]="project" (delete)="onDeleteProject($event)"
                      class="project-item"></app-project-card>
    <div class="project-item" id="project-add">
      <mat-card class="create-properties">
        <mat-card-content>
          <div class="row justify-content-center align-items-center">
            <button (click)="add()" mat-button>
              <mat-icon>add_box</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
