<mat-card>
    <mat-card-content>
        <div class="row justify-content-space-between">
            <div class="column">
                <div class="project-title">{{project.title}}</div>
                <div class="project-description">{{project.description}}</div>
            </div>
            <div class="project-buttons">
                <button mat-button (click)="delete.emit(project)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-button routerLink="/problem">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
