<mat-toolbar color="primary">
    <span>

        <img src="../../../assets/images/Picture2.png" style="width: 110px">
    </span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span class="space-right">
    <button mat-button>
      <mat-icon>folder_open</mat-icon>
      Project
    </button>
  </span>
    <span class="space-right">
    <button mat-button>
      <mat-icon>help_outline</mat-icon>
      Problem
    </button>
  </span>
    <span class="space-right">
    <button mat-button>
      <mat-icon>cloud_upload_outline</mat-icon>
      Data
    </button>
  </span>
    <span class="space-right">
    <button mat-button>
      <mat-icon>swap_calls</mat-icon>
      Modeling
    </button>
  </span>

    <span class="space-right-small">
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
  </span>
    <span class="space-right-small">
    <button mat-button>
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </span>


</mat-toolbar>