.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.space-right{
  padding-right: 35px;
}

.space-right-small{
  padding-right: 15px;
}

.logo:focus {
  outline: 0;
}