<div class="main-div">


    <mat-card style="width: 400px">
        <mat-card-title>
            {{ title }}
        </mat-card-title>
        <mat-card-content>
            <div class="form-group">
                <label for="file">Choose File</label>
                <input type="file"
                       id="file"
                       (change)="onFileSelected($event)">
                <button mat-button color="primary" (click)="onUpload()">Upload</button>
            </div>
        </mat-card-content>

    </mat-card>

</div>

