/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
app-root {
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    background-image: url("/assets/background.png");
  }


  min-height: 100vh;
}

app-checkbox-field, app-process-field, app-split-input {
  margin-right: 10px  ;
}

.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@each $i in (flex-start, flex-end, space-between, space-around, space-evenly, center) {
  .justify-content-#{$i} {
    justify-content: $i;
  }
}

@each $i in (flex-start, flex-end, stretch, center, baseline) {
  .align-items-#{$i} {
    align-items: $i;
  }
}
